/*
DarkMonoAlt - Modifié par HBO pour HDF
Puis modifié par EVOTk pour HDF ^^
-----------------------------------------------------

Original DarkMono v2 by htrd (a.hatred@gmail.com)
Modified by beats for Redacted
Original terms of use / license information:

Everything is copyright 2012 htrd.
Distributed under the Creative Commons BY-NC-ND 3.0 License:
 * You may copy, distribute and transmit this stylesheet and it's associated elements, unaltered and in their entirety, so long as you
 give proper credit for the creation and design of these elements to htrd and include this written notice of such credit.
 * You may not use any aspect of this stylesheet or it's design elements for any commercial or public purposes.
 * You may not alter, transform, or build upon this stylesheet for public use.
 * By using this stylesheet and it's associated elements, you agree to these Terms of Use and also that these Terms of Use may change at any time, with or without notice.
 Made exclusively for use on What.CD in 2012.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

:root{
    --background1: #222;
    --background2: rgba(42, 68, 93, 0.1);
    --background-messages-head: linear-gradient(179deg,rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.1) 100%);
    --background-rowa: #00000010 ;
    --background-rowb: #FFFFFF10 ;
    --background-radial-white: radial-gradient(circle,rgba(255, 255, 255, 0.02) 20%, rgba(0, 0, 0, 0.02) 90%);
    --light-grey: #9A9A9A;
    --text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3);
    --box-shadow-inset: inset 0em 0em 1em black;
    --box-shadow: 0em 0em 1em black;
    --box-shadow-buttons:  -0.1em -0.1em 0.1em 0.1em inset #00000050, 0.1em 0.1em 0.1em 0.1em inset #FFFFFF20;
    --box-shadow-buttons-hover: 0.2em 0.2em 0.5em 0.2em #00000020 inset, -0.1em -0.2em 0.1em 0.1em #FFFFFF80 inset;
    --box-shadow-messages-head: 0.1em 0.2em 0.1em 0.1em #FFFFFF20 inset, -0.2em -0.2em 0.5em 0.2em #00000081 inset, 0em 0em 0.3em 0.3em #00000060;
    --box-shadow-messages-head-revert: 0.2em 0.2em 0.5em 0.2em #00000081 inset, -0.1em -0.2em 0.1em 0.1em #FFFFFF20 inset;
    --blue1:  #528ba3;
    --light-blue: #456478;
    --font-size-normal: 1rem;
    --font-size-small: 0.95rem;
    --font-family-principal: Roboto;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiA8.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjalmUiA8.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-mono';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://powabanga.github.io/css/RobotoMonoNerd.ttf) format('truetype');
}

/*START USER CLASSES*/
.class_2{
  color: #444;
}
.class_3{
  color: #96ca2d;
}
.class_5{
  color: #93c47d;
}
.class_28{
  color: rgba(0, 0, 255, 0.75);
}
.class_11{
  color: #1e84cc;
}
.class_15{
  color: rgba(255, 0, 0, 0.75);
}
.class_1{
  color: #980000;
}
.class_23{
  color: rgba(212, 0, 255, 0.75);
}
.class_22{
  color: #38761d;
}
.class_20{
  color: rgba(17, 237, 149, 0.75);
}
.class_29{
  color: #853894;
}
.class_30{
  color: rgba(255, 50, 29, 0.75);
}
.class_33{
  color: #DAA520;
}
.class_32{
  color: #F0E68C;
}
/*STOP USER CLASS*/
a:link {
    color: #4CC5F8;
    text-decoration: none;
}
a:visited {
    color: #70E3FF;
    text-decoration: none;
}
a:hover {
    color: #7EF0FF    ;
    text-decoration: none;
}
a:active {
    color: #A2FFFF;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    margin: 0;
    padding: 0;
    background:  var(--background1);
    color: var(--light-grey);
    /*text-shadow: var(--text-shadow);*/
    font: var(--font-size-normal) 'Roboto', 'Trebuchet MS', "Arial", sans-serif;
}
/*!FIXME ok le select est piqué de carbone, il faut l'intégrer correctement au reste de mon code*/
/*START INPUTS*/
form.search_form input {
  width: 100%;
  background-color: none;
  border: none;
  box-shadow: var(--box-shadow-inset);
  color: var(--light-grey);
  text-align: center;
  margin: 1em 0em 0.1em 0em;
  padding: 0.5em 0em;
  /*! width: 15; */
}

select {
  color: #9A9A9A;
  padding: 3px 30px 3px 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #292929;
  background-image: linear-gradient(45deg, transparent 50%, white 50%), linear-gradient(135deg, white 50%, transparent 50%);
  background-position: calc(100% - 13px) calc(0.7em + 1px), calc(100% - 8px) calc(0.7em + 1px), calc(100% - 0.4em) 0.4em;
  background-size: 5px 5px, 5px 5px, 1.2em 1.2em;
  background-repeat: no-repeat;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.24), inset 0 2px 6px rgba(0, 0, 0, 0.12);
  border: 1px solid #3B3B3B;
  /*width: 100%;*/
  overflow: auto;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], textarea {
  padding: 5px 10px;
  border: 1px solid #3B3B3B;
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  color: var(--light-grey);
  transition: 0.25s ease-in-out;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
}
input[type="checkbox"]:checked {
  border: 1px solid #3b3b3b;
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  color: #3b3b3b;
}
.search_form input[type="checkbox"], #userform.edit_form input[type="checkbox"] {
  margin: -2px 2px 0 0;
  vertical-align: middle;
}
input[type="checkbox"] {
  position: relative;
  display: inline-block;
  padding: 6px;
  border: 1px solid #3b3b3b;
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type="checkbox"]:checked::after {
  position: absolute;
  top: -1px;
  left: 1px;
  color: #456478;
  content: '\2714\fe0e';
  font-size: var(--font-size-normal);
}
input[type="radio"]:checked {
  border: 1px solid #3b3b3b;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  color: #456478;
}
input[type="radio"] {
  position: relative;
  top: 3px;
  display: inline-block;
  padding: 6px;
  border: 1px solid #3b3b3b;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-appearance: none;
}
input[type="radio"]:checked::after {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background: #456478;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  content: ' ';
  text-shadow: 0 0 black;
}
#tags_type1, #tags_type0 {
  width: 15px;
}
.submit.ft_submit input, .submit input {
  box-shadow: var(--box-shadow-buttons) !important;
  cursor: pointer;
  width: auto !important;
  padding: 0.4rem !important;
  background: var(--background-messages-head);
}
.submit input:hover {
  box-shadow: var(--box-shadow-buttons-hover), var(--box-shadow-messages-head);
}
/*START SEARCHBOX*/
.submit.ft_submit input {
  box-shadow: var(--box-shadow-buttons);
  cursor: pointer;
  width: auto;
  padding: 0.4rem;
  background: var(--background-messages-head);
}
input#group_results, .layout.cat_list input {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 1rem;
}
.nobr select, .ft_order select {
  width: auto;
}
td.label {
}
.layout .inputtext {
  margin: 0em;
  /*! width: auto; */
}
.filter_torrents .head div {
  position: relative;
  margin: auto;
  right: 50%;
  top: 100%;
}
.filter_torrents .head div font, .filter_torrents .head div span #ft_toggle {
  background: var(--background-messages-head) !important;
  box-shadow: var(--box-shadow-buttons) !important;
  cursor: pointer;
  font-size: \);
}
/*STOP SEARCHBOX*/
/*END INPUTS*/
/*START HEADER*/
/*Donc l'entete ici, testé à 1080 de large c'est ok faut une autre config pour ecran moin large*/
#header {
    width: 80%;
    margin: 0em auto 2em auto;
    box-shadow: var(--box-shadow);
    background: var(--background-radial-white);
}
#logo {
  position: absolute;
  background: url("https://powabanga.github.io/css/logo_transparent.webp");
  background-repeat: no-repeat;
  width: 8em;
  height: 2.9em;
  background-origin: ;
  left: 50%;
  transform: translate(-50%);
  background-size: contain;
}
#logo a {
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 1230px) {
#logo {
  height: 1.8em;
  width: 5.1em;
  top: 1.2em;
}
}
/*START USERINFO*/
div#userinfo {
    padding-bottom: 1em;
}
#userinfo .brackets::before {
    content: "[";
}
#userinfo .brackets::after {
    content: "]";
}
#userinfo_username {
    order: 1;
    position: relative;
    top: -1.2em;
}
#userinfo_username li {
    display: inline-block;
    margin-right: 0.3em;
}
#userinfo_major {
    position: relative;
    top: -1.2em;
    margin-bottom: -1.2em;
}
#userinfo_major li {
    margin-right: 0.4em;
    display: inline-block;
}
#userinfo_stats {
    position: relative;
    order: 4;
    top: -2.5em;
    float: right;
    margin-bottom: -2.5em;
}
ul#userinfo_stats li {
    display: inline-block;
    margin-right: 0.3em;
}
#userinfo_minor {
    position: relative;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--box-shadow-inset);
    padding: 0em 0em;
    margin-top: 0.6em;
}
#userinfo_minor li {
background: var(--background1);
opacity: 85%;
}
#userinfo_minor a {
  color: var(--light-grey);
  text-shadow: 0px 0em 0.5em #000;
  padding: 0.5em;
  display: inline-block;
  box-shadow: var(--box-shadow);
  background: var(--background-messages-head);
}
#nav_better {
  display: none;
}
#userinfo_minor a {
  box-shadow: var(--box-shadow);
  background: var(--background-messages-head);
}
#userinfo_minor a:hover {
  box-shadow: var(--box-shadow-messages-head-revert), var(--box-shadow);
  background: radial-gradient(circle,rgba(0, 0, 0, 0.6) 20%, rgba(255, 255, 255, 0) 100%);
}

/*END USERINFO*/
/*START MENUBAR*/

div#menu ul {
    display: flex;
    justify-content: space-around;
    position: relative;
}
div#menu ul li {
    flex: 1;
    margin: 0em 0.6em 0em 0.6em;
    white-space: nowrap;  
  background: var(--background1); 
  opacity: 90%;

}
div#menu ul li a {
    width: 100%;
    display: flex;
    box-shadow: var(--box-shadow-messages-head);
    height: 2em;
    align-items: center;
    justify-content: space-around;
    color: var(--light-grey);
    /*background: radial-gradient(circle,rgba(0, 0, 0, 0.6) 20%, rgba(255, 255, 255, 0) 100%);*/
    text-shadow: 0em 0em 0.7em #000;
}
div#menu ul li a:hover {
  box-shadow: var(--box-shadow-messages-head-revert);
  border-radius: 0.2em;
  background: radial-gradient(circle,rgba(0, 0, 0, 0.6) 20%, rgba(255, 255, 255, 0) 100%); 
}
/*END MENUBAR*/
#searchbars ul li {
    width: 15%;
}

div#searchbars ul {
    display: flex;
    justify-content: space-around;
}
/*END HEADER*/
/*START FOOTER*/
#footer {
    text-align: center;
}
/*END FOOTER*/
/*START NOTIFY AREA*/
#noty_bottomRight_layout_container > li {
    background: var(--background1) !important;
    border: var(--light-grey) !important;
    font-size: var(--font-size-normal) !important;
    color: var(--light-grey) !important;
    box-shadow: var(--box-shadow) !important;
}
.noty_bar div {
    background-color: inherit !important;
    border: 0 !important;
    color: inherit !important;
    font-size: var(--font-size-normal) !important;
}
/*END NOTIFY AREA*/
.box {
    /* font-size: 10pt; */
    font-size: var(--font-size-small) !important;
}
#index .box.news_post {
  font-size: var(--font-size-normal) !important;
  margin: 0em;
}
tr.group_torrent td,
tr.group td,
tr.torrent td {
    font-size: var(--font-size-small);
}

.header, .linkbox, .search_form {
    width: 100%;
}

/*Accueil body*/
/*body#index div#wrapper diAv#content */
.thin {
    display: flex;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-around;
    background: var(--background-radial-white);
}
.thin strong {
    width: 99%;
}

.sidebar {
    position: relative;
    width: 16%;
    order: 2;
    box-shadow: var(--box-shadow-inset);
    margin: 1em 1% 1em 0.5%;
}

.main_column {
    /* left: 0px; */
    position: relative;
    width: 78%;
    order: 1;
    box-shadow: var(--box-shadow-inset);
    margin: 1em 0.5% 1em 1%;
  padding: 1em 0.75%;
}

.group_torrent span, .torrent span {
    font-size: var(--font-size-small) !important;
}
body#index div#wrapper div#content br {
    display: none;
}


#content{
    width: 80%;
    position: relative;
    /*left: 10%;*/
    box-shadow: var(--box-shadow);
    margin: 0em auto 1em auto;
}
/*#content {*/
    /*position: relative;*/
    /*width: 80%;*/
    /*box-shadow: var(--box-shadow);*/
    /*margin: 0em auto;*/
/*}*/

/* ca c'est pour le top 10 uniquement*/
.torrent_table.cats.numbering.border {
    width: 100%;
}


/*Page des règles (ho punaise c'est la cata ici, c'est quoi tous ces styles directement écrit dans le html tout à coup ???*/
.box.pad.rule_table {
    background: var(--background2) !important;
    border-radius: 0px !important;
    color: var(--light-grey) !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

/*cette section concerne la page IRC*/
.box.pad.irc_container {
    width: 100%;
}
div#app div#viewport div#connect.window {
    background: #222 !important;
}
/*Pages spécifiques au fichiers*/
/*START SETTINGS*/
#userform .sidebar {
    box-shadow: none !important;
    /*! position: sticky; */
    float: right;
}
#settings_sections {
    width: 9%;
}
/*END SETTINGS*/
/*SART MAIN PAGE*/
.sidebar img {
  max-width: none !important;
  width: 100%;
}
#index .head {
  box-shadow: var(--box-shadow-messages-head), var(--box-shadow);
  padding: 0.4em;
  margin-bottom: 0.5em;
}
#index .head.colhead_dark {
  margin: 0em;
}
#index .news_post .pad {
  margin-bottom: 0.6em;
}
/*END MAIN PAGE*/

/*Start FORUM*/
#forums {
display: block;
}
#forums h2 {
  margin-right: auto;
}
.forum_list {
    width: 100%;
}
.forum_index {
    width: 100%;
}
#forum .thin {
  display: block;
  width: 100% !important;
}
.lu{
    background-image: url("https://powabanga.github.io/css/icons/category.svg");
    background-repeat: no-repeat;
    background-position: center;
background-size: contain;
}
.non-lu{
    background-image: url("https://powabanga.github.io/css/icons/category-new-message.svg");
    background-repeat: no-repeat;
    background-position: center;
background-size: contain;
}
.read{
    background-image: url("https://powabanga.github.io/css/icons/forum-new-message.svg");
    background-repeat: no-repeat;
    background-position: center;
background-size: contain;
}
.unread{
    background-image: url("https://powabanga.github.io/css/icons/forum.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.unread_sticky{
    background-image: url("https://powabanga.github.io/css/icons/info.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.read_sticky{
    background-image: url("https://powabanga.github.io/css/icons/info.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.unread_locked_sticky{
    background-image: url("https://powabanga.github.io/css/icons/info-new-locked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.read_locked_sticky{
    background-image: url("https://powabanga.github.io/css/icons/info-locked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.read_locked{
    background-image: url("https://powabanga.github.io//css/icons/topic-locked.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.read{
    background-image: url("https://powabanga.github.io//css/icons/topic.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.unread{
    background-image: url("https://powabanga.github.io//css/icons/topic-new.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.forum_post {
  width: 100%;
}

  td.avatar {
  width: 100px;
  padding: 0.4em;
}
td.avatar {
  width: 100px;
  padding: 0.4em;
}
.forum_post {
  width: 100%;
}
.colhead_dark {
  background: var(--background-messages-head);
  box-shadow: var(--box-shadow-messages-head);
}
.colhead_dark *{
  /*margin: 0.5em;*/
    height: 2em;
  vertical-align: middle;
  padding: 0em 0.03em;
}
.forum_list h3 {
  box-shadow: var(--box-shadow-messages-head);
  padding: 0.3em 0.6em;
  margin: 0.6em 0em 0.2em 0em;
}
.donor_icon.tooltip {
  width: 1.1em;
  height: 0.9em;
}
td.body {
  background: var(--backaground-radial-white);
}
code {
  box-shadow: var(--box-shadow-inset);
  display: block;
  width: 95%;
  position: relative;
  margin: auto;
  padding: 1em;
  font-family: Roboto-mono;
  white-space: nowrap;
  overflow: auto;
}
blockquote {
  box-shadow: var(--box-shadow-buttons), var(--box-shadow);
  width: 95%;
  margin: 0.8em auto;
  padding: 0.5em;
}
.rowb {
    background: ;
    background-color: var(--background-rowa);
}

.rowa {
    background-color: var(--background-rowb);
}
/*START EDIT AREA*/
.wysibb-text-editor {
  background: none !important;
}
.wysibb-body {
  color: var(--light-grey) !important;
}
.wysibb {
  background: var(--background1) !important;
  border: none !important;
  box-shadow: var(--box-shadow-inset);
}
#reply_box {
  width: 70%;
  margin: auto;
}
.wysibb-toolbar {
  background: none !important;
  border: none !important;
}
.wysibb-toolbar {
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
  color: #c2bfbf !important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
  color: var(--light-grey) !important;
  font-size: 1.7em !important;
  text-shadow: none !important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
   /*! color: #333; */
  /*! font-family: 'WysiBBiconFont'; */
  /*! font-size: 18px; */
  line-height: 1.4em;
  /*! text-shadow: 0px 1px 0px #fff; */
  text-align: center;
  /*! speak: none; */

}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on, .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover, .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:active {
  background: none !important;
  border: none !important;
  box-shadow: var(--box-shadow-buttons),  var(--box-shadow) !important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on, .wysibb .wysibb-toolbar .wysibb-toolbar-co  ntainer .wysibb-toolbar-btn.on:hover, .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
  background: var(--background1) !important;
  box-shadow: var(--box-shadow-buttons)  !important;
}
.wysibb .modesw, .wysibb .wbb-list, .wysibb .wbb-fontsize {
  color: var(--light-grey);
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
  background-color: var(--background1) !important;
  box-shadow: var(--box-shadow);
  border: none !important;
}

.wbb-select .option:hover {
  background: none !important;
  box-shadow: var(--box-shadow-buttons);
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
  border: none !important;
  box-shadow: var(--box-shadow-buttons);
  color:var(--light-grey);
}
.wbb-list .sc {
  border-color: var(--light-grey) !important ;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container {
  border-right: var(--light-grey) !important;
}
#wbbmodal .wbbm {
  background: var(--background1);
  border: none;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
}
#wbbmodal {
  font: var(--font-size-normal) 'Roboto', 'Trebuchet MS', "Arial", sans-serif !important;
}

.button_preview_0, #submit_button {
  background: var(--background-messages-head);
  border: none;
  color: var(--light-grey);
  box-shadow: var(--box-shadow-buttons);
  margin: 0em 0.3em 1em 0.3em;
  padding: 0.4em;
  cursor: pointer;
}
.button_preview_0:hover, #submit_button:hover {
  box-shadow: var(--box-shadow-messages-head);
}
#reply_box h3 div span {
  color: var(--light-grey) !important;
  font-size: var(--font-size-normal) !important;
  font-family:  var(--font-family-principal) !important;
}
.smiley-button.modern {
  background: var(--background-messages-head) !important;
  box-shadow: var(--box-shadow-buttons) !important;
  border: none !important;
  font-size: var(--font-size-small) !important;
  font-family: var(--font-family-principal) !important;
}
/*END EDIT AREA*/
/*END FORUM*/
/*START INBOX*/
#inbox .thin {
  display: block;
}
#inbox .head {
  box-shadow: var(--box-shadow-messages-head);
  padding: 0.3em;
}
/*STOP INBOX*/
  /*START SHOUT*/
.shoutbox_alt{
    background: var(--background-rowa) !important;
  }
.shoutbox_noalt{
    background: var(--background-rowb) !important;
  }
  /*END SHOUT*/
/*START COLLECTIONS*/
.search_form #categories td div {
  display: inline-flex;
  width: 100%;
}
/* STOP COLLECTIONS*/
/*START RESULT PAGE*/
.lightbox {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 0%;
  overflow: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
.lightbox img {
  max-height: 90vh;
  max-width: 90vw;
  box-shadow: var(--box-shadow);
}
.edition_info {
  background: var(--background-rowb);
  padding: 0.2em 0em;
}
.group_torrent td span {
  position: initial;
display: inline !important;
}
/*END RESULT PAGE*/
/*START STAFF PAGE*/
#staff .thin {
    width: 80% !important;
    margin: auto;
    text-align: left;
    display: block;
}
#staff .nobr {
  white-space: normal;
}
/*END STAFF PAGE*/
/*#FIXME #lightbox a mettre en stycki car s'affiche en bas de page*/
