/*
DarkMonoAlt - Modifié par HBO pour HDF
Puis modifié par EVOTk pour HDF ^^
-----------------------------------------------------

Original DarkMono v2 by htrd (a.hatred@gmail.com)
Modified by beats for Redacted
Original terms of use / license information:

Everything is copyright 2012 htrd.
Distributed under the Creative Commons BY-NC-ND 3.0 License:
 * You may copy, distribute and transmit this stylesheet and it's associated elements, unaltered and in their entirety, so long as you
 give proper credit for the creation and design of these elements to htrd and include this written notice of such credit.
 * You may not use any aspect of this stylesheet or it's design elements for any commercial or public purposes.
 * You may not alter, transform, or build upon this stylesheet for public use.
 * By using this stylesheet and it's associated elements, you agree to these Terms of Use and also that these Terms of Use may change at any time, with or without notice.
 Made exclusively for use on What.CD in 2012.
 */
:root{
    --background1: #222;
    --background2: rgba(42, 68, 93, 0.1);
    --light-grey: #9A9A9A;
    --text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3);
    --box-shadow: 0em 0em 1em black;
    --blue1:  #528ba3;
    --light-blue: #456478;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiA8.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjalmUiA8.ttf) format('truetype');
}
a:link {
  color: #4CC5F8;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #70E3FF;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #7EF0FF    ;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #A2FFFF;
  text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background:  var(--background1);
    color: var(--light-grey);
    text-shadow: var(--text-shadow);
    font: 0.95em 'Roboto', 'Trebuchet MS', "Arial", sans-serif;
}
#header {
width: 80%;
margin: 0em auto 2em auto;
box-shadow: var(--box-shadow);
}
#footer {
text-align: center;
}
div#userinfo {
    display: flex;
    justify-content: space-between;
}
div#menu ul {
    display: flex;
    justify-content: space-around;
}
div#searchbars ul {
    display: flex;
    justify-content: space-around;
}
.box {
    /* font-size: 10pt; */
    font-size: 0.95em !important;
}

.header, .linkbox, .search_form {
    width: 100%;
}

/*Accueil body*/
/*body#index div#wrapper div#content */
div.thin {
    position: ;
    display: flex;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-around;
}
.thin strong {
    width: 99%;
}

.sidebar {
    position: relative;
    width: 18%;
    order: 2;
}

.main_column {
    /* left: 0px; */
    position: relative;
    width: 80%;
    order: 1;
}

#content {
    position: relative;
    width: 80%;
    left: 10%;
}
.group_torrent span, .torrent span {
    font-size: 0.94em !important;
}

/*Le forum*/
/*#body#forums div#wrapper div#content div.thin */
.thin, .content{
    width: 80%;
    position: relative;
    /*left: 10%;*/
    box-shadow: var(--box-shadow)
}

.forum_list {
    width: 100%;
}

.rowb {
    background: ;
    background-color: #303030;
}

/* .thin { */
.rowa {
    background-color: #434343;
}

.forum_index {
    width: 100%;
}
/* ca c'est pour le top 10 uniquement*/
.torrent_table.cats.numbering.border {
    width: 100%;
}


/*Page des règles (ho punaise c'est la cata ici, c'est quoi tous ces styles directement écrit dans le html tout à coup ???*/
.box.pad.rule_table {
    background: var(--background2) !important;
    border-radius: 0px !important;
    color: var(--light-grey) !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

/*cette section concerne la page IRC*/
.box.pad.irc_container {
    width: 100%;
}
div#app div#viewport div#connect.window {
    background: #222 !important;
}
