/*
DarkMonoAlt - Modifié par HBO pour HDF
Puis modifié par EVOTk pour HDF ^^
-----------------------------------------------------

Original DarkMono v2 by htrd (a.hatred@gmail.com)
Modified by beats for Redacted
Original terms of use / license information:

Everything is copyright 2012 htrd.
Distributed under the Creative Commons BY-NC-ND 3.0 License:
 * You may copy, distribute and transmit this stylesheet and it's associated elements, unaltered and in their entirety, so long as you
 give proper credit for the creation and design of these elements to htrd and include this written notice of such credit.
 * You may not use any aspect of this stylesheet or it's design elements for any commercial or public purposes.
 * You may not alter, transform, or build upon this stylesheet for public use.
 * By using this stylesheet and it's associated elements, you agree to these Terms of Use and also that these Terms of Use may change at any time, with or without notice.
 Made exclusively for use on What.CD in 2012.
 */
:root{
    --background1: #222;
    --background2: rgba(42, 68, 93, 0.1);
    --background-rowa: #00000080 ;
    --background-rowb: #FFFFFF80 ;
    --light-grey: #9A9A9A;
    --text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3);
    --box-shadow-inset: inset 0em 0em 1em black;
    --box-shadow: 0em 0em 1em black;
    --blue1:  #528ba3;
    --light-blue: #456478;
    --font-size-normal: 1em;
    --font-size-small: 0.95em;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiA8.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjalmUiA8.ttf) format('truetype');
}
a:link {
    color: #4CC5F8;
    text-decoration: none;
}
a:visited {
    color: #70E3FF;
    text-decoration: none;
}
a:hover {
    color: #7EF0FF    ;
    text-decoration: none;
}
a:active {
    color: #A2FFFF;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background:  var(--background1);
    color: var(--light-grey);
    /*text-shadow: var(--text-shadow);*/
    font: 1em 'Roboto', 'Trebuchet MS', "Arial", sans-serif;
}
/*START HEADER*/
/*Donc l'entete ici, testé à 1080 de large c'est ok faut une autre config pour ecran moin large*/
#header {
    width: 80%;
    margin: 0em auto 2em auto;
    box-shadow: var(--box-shadow);
    background-image: url("https://powabanga.github.io/css/logo_transparent.webp") ;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}
/*START USERINFO*/
div#userinfo {
    padding-bottom: 1em;
}
#userinfo .brackets::before {
    content: "[";
}
#userinfo .brackets::after {
    content: "]";
}
#userinfo_username {
    order: 1;
    position: relative;
    top: -1.2em;
}
#userinfo_username li {
    display: inline;
    margin-right: 0.3em;
}
#userinfo_major {
    position: relative;
    top: -1.2em;
    margin-bottom: -1.2em;
}
#userinfo_major li {
    margin-right: 0.4em;
    display: inline-block;
}
#userinfo_stats {
    position: relative;
    order: 4;
    top: -2.5em;
    float: right;
    margin-bottom: -2.5em;
}
ul#userinfo_stats li {
    display: inline-block;
    margin-right: 0.3em;
}
#userinfo_minor {
    position: relative;
    display: flex;
    justify-content: space-around;
    box-shadow: var(--box-shadow-inset);
    padding: 0.6em 0em;
    margin-top: 0.6em;
}
/*END USERINFO*/
/*START MENUBAR*/

div#menu ul {
    display: flex;
    justify-content: space-around;
}
div#menu ul li {
    flex: 1;
    margin: 0em 0.6em 0em 0.6em;
    white-space: nowrap;

}
div#menu ul li a {
    width: 100%;
    display: flex;
    box-shadow: var(--box-shadow);
    height: 2em;
    align-items: center;
    justify-content: space-around;
}
/*END MENUBAR*/
#searchbars ul li {
    width: 15%;
}
form.search_form input {
    width: 100%;
    background-color: var(--background2);
    border: none;
    box-shadow: var(--box-shadow-inset);
    color: var(--light-grey);
    text-align: center;
    margin: 1em 0em 0.1em 0em;
    padding: 0.5em 0em;
    /*! width: 15; */
}
div#searchbars ul {
    display: flex;
    justify-content: space-around;
}
/*END HEADER*/
/*START FOOTER*/
#footer {
    text-align: center;
}
/*END FOOTER*/
/*START NOTIFY AREA*/
#noty_bottomRight_layout_container > li {
    background: var(--background1) !important;
    border: var(--light-grey) !important;
    font-size: var(--font-size-normal) !important;
    color: var(--light-grey) !important;
    box-shadow: var(--box-shadow) !important;
}
.noty_bar div {
    background-color: inherit !important;
    border: 0 !important;
    color: inherit !important;
    font-size: var(--font-size-normal) !important;
}
/*END NOTIFY AREA*/
.box {
    /* font-size: 10pt; */
    font-size: var(--font-size-small) !important;
}
#index .box.news_post {
  font-size: var(--font-size-normal) !important;
  margin: 0em;
}
tr.group_torrent td,
tr.group td,
tr.torrent td {
    font-size: var(--font-size-small);
}

.header, .linkbox, .search_form {
    width: 100%;
}

/*Accueil body*/
/*body#index div#wrapper diAv#content */
.thin {
    display: flex;
    width: 100% !important;
    flex-wrap: wrap;
    justify-content: space-around;
}
.thin strong {
    width: 99%;
}

.sidebar {
    position: relative;
    width: 16%;
    order: 2;
    box-shadow: var(--box-shadow-inset);
    margin: 1em 1% 1em 0.5%;
}

.main_column {
    /* left: 0px; */
    position: relative;
    width: 78%;
    order: 1;
    box-shadow: var(--box-shadow-inset);
    margin: 1em 0.5% 1em 1%;
  padding: 1em;
}

.group_torrent span, .torrent span {
    font-size: 0.94em !important;
}
body#index div#wrapper div#content br {
    display: none;
}


#content{
    width: 80%;
    position: relative;
    /*left: 10%;*/
    box-shadow: var(--box-shadow);
    margin: 0em auto 1em auto;
}
/*#content {*/
    /*position: relative;*/
    /*width: 80%;*/
    /*box-shadow: var(--box-shadow);*/
    /*margin: 0em auto;*/
/*}*/

/* ca c'est pour le top 10 uniquement*/
.torrent_table.cats.numbering.border {
    width: 100%;
}


/*Page des règles (ho punaise c'est la cata ici, c'est quoi tous ces styles directement écrit dans le html tout à coup ???*/
.box.pad.rule_table {
    background: var(--background2) !important;
    border-radius: 0px !important;
    color: var(--light-grey) !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

/*cette section concerne la page IRC*/
.box.pad.irc_container {
    width: 100%;
}
div#app div#viewport div#connect.window {
    background: #222 !important;
}
/*Pages spécifiques au fichiers*/
/*START SETTINGS*/
#userform .sidebar {
    box-shadow: none !important;
    /*! position: sticky; */
    float: right;
}
#settings_sections {
    width: 9%;
}
/*END SETTINGS*/
/*SART MAIN PAGE*/
.sidebar img {
  max-width: none !important;
  width: 100%;
}
/*END MAIN PAGE*/
/*Start FORUM*/
.forum_list {
    width: 100%;
}
.rowb {
    background: ;
    background-color: var(--background-rowa);
}

.rowa {
    background-color: var(--background-rowb);
}
.forum_index {
    width: 100%;
}
#forum .thin {
  display: block;
  width: 100% !important;
  }
/*END FORUM*/
/*START COLLECTIONS*/
.search_form #categories td div {
  display: inline-flex;
  width: 100%;
}
/* STOP COLLECTIONS*/
/**/
/*START STAFF PAGE*/
#staff .thin {
    width: 80% !important;
    margin: auto;
    text-align: left;
    display: block;
}
/*END STAFF PAGE*/
/*#FIXME #lightbox a mettre en stycki car s'affiche en bas de page*/
