/*
Monocle - réalisé par PowaBanga pour HDF
-----------------------------------------------------

Everything is copyright 2012 htrd.
Distributed under the Creative Commons BY-NC-ND 3.0 License:
 * You may copy, distribute and transmit this stylesheet and it's associated elements, unaltered and in their entirety, so long as you
 give proper credit for the creation and design of these elements to htrd and include this written notice of such credit.
 * You may not use any as/pect of this stylesheet or it's design elements for any commercial or public purposes.
 * You may not alter, transform, or build upon this stylesheet for public use.
 * By using this stylesheet and it's associated elements, you agree to these Terms of Use and also that these Terms of Use may change at any time, with or without notice.
 Made exclusively for use on What.CD in 2012.
 */
*,
  *::before,
  *::after {
    box-sizing: border-box;
  }
* {
  margin: 0;
  padding: 0px;
}

:root{
  --background1: #383C4A;
  --background2: rgba(42, 68, 93, 0.1);
  --background-messages-head: linear-gradient(179deg,rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.1) 100%);
  --background-rowa: #00000010 ;
  --background-rowb: #FFFFFF10 ;
  --background-radial-white: radial-gradient(circle,rgba(255, 255, 255, 0.02) 20%, rgba(0, 0, 0, 0.02) 90%);
  --background-buttons-menu: linear-gradient(180deg, rgba(0, 0, 0, 0.2)0%, rgba(255, 255, 255, 0.05)100%);
  --light-grey: #9A9A9A;
  --text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.3);
  --box-shadow-small: 0em 0em 0.3em black;
  --box-shadow-inset: inset 0em 0em 1em black;
  --box-shadow: 0em 0em 1em black;
  --box-shadow-buttons: -0.1em -0.1em 0.1em 0.1em inset #00000050, 0.05em 0.05em 0em 0em inset #FFFFFF20;
  --box-shadow-buttons-hover: 0.2em 0.2em 0.6em 0.2em #00000080 inset, -0.2em -0.2em 0.2em -0.1em #FFFFFF20 inset;
  --box-shadow-messages-head: 0.03rem 0.02rem 0.1rem 0.01rem #FFFFFF20 inset, -0.03rem -0.02rem 0.02rem 0rem #00000081 inset, 0rem 0rem 0.03rem 0.15rem #00000060;
  --box-shadow-messages-head-revert: 0.05rem 0.05rem 0.2rem 0rem #00000081 inset, -0.05em -0.05em 0.1em 0em #FFFFFF20 inset;
  --blue1:  #528ba3;
  --light-blue: #4a95f7;
  --font-size-normal: 1rem;
  --font-size-small: 0.95rem;
  --font-family-principal: Roboto;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbVmUiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/roboto/v47/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjalmUiA8.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-mono';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(https://powabanga.github.io/css/hdf/RobotoMonoNerd.ttf) format('truetype');
}

/*START USER CLASSES*/
.class_2{
  color: #444;
}
.class_3{
  color: #96ca2d;
}
.class_5{
  color: #93c47d;
}
.class_28{
  color: rgba(0, 0, 255, 0.75);
}
.class_11{
  color: #1e84cc;
}
.class_15{
  color: rgba(255, 0, 0, 0.75);
}
.class_1{
  color: #980000;
}
.class_23{
  color: rgba(212, 0, 255, 0.75);
}
.class_22{
  color: #38761d;
}
.class_20{
  color: rgba(17, 237, 149, 0.75);
}
.class_29{
  color: #853894;
}
.class_30{
  color: rgba(255, 50, 29, 0.75);
}
.class_33{
  color: #DAA520;
}
.class_32{
  color: #F0E68C;
}
/*STOP USER CLASS*/
a:link {
  color: #4CC5F8;
  text-decoration: none;
}
a:visited {
  color: #70E3FF;
  text-decoration: none;
}
a:hover {
  color: #7EF0FF    ;
  text-decoration: none;
}
a:active {
  color: #A2FFFF;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
body {
  margin: 0;
  padding: 0;
  background:  var(--background1);
  color: var(--light-grey);
  /*text-shadow: var(--text-shadow);*/
  font: var(--font-size-normal) 'Roboto', 'Trebuchet MS', "Arial", sans-serif;
}
/*!FIXME ok le select est piqué de carbone, il faut l'intégrer correctement au reste de mon code*/
/*START INPUTS*/
/*form.search_form input {
  width: 100%;
  border: none;
  box-shadow: var(--box-shadow-inset);
  color: var(--light-grey);
  text-align: center;
  margin: 1em 0em 0.1em 0em;
  padding: 0.5em 0em;
  /*! width: 15; */             
 /* background-color: unset;
}*/

select {
  color: var(--light-grey) !important;
  box-shadow: var(--box-shadow-inset);
  border: none !important;
  /*! width: 100% !important; */
  overflow: auto;
  background-color: unset !important;
  padding: 0.3rem !important;
}
input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="url"], textarea {
  padding: 5px 10px !important;
  border:  unset !important;
  background: unset !important;
  box-shadow: var(--box-shadow-inset);
  color: var(--light-grey) !important;
}
input[type="checkbox"]:checked {
  box-shadow: var(--box-shadow-buttons-hover);
  color: var(--light-blue);
  background:  var(--light-grey) !important;
}
.search_form input[type="checkbox"], #userform.edit_form input[type="checkbox"] {
  margin: -0.28rem 0.2rem 0 0;
  vertical-align: middle;
  /*! border: none; */
  background: #ffffff25;
  /*! border-radius: 0.3rem; */
  /*! border: var(--light-grey); */
}
input[type="checkbox"] {
  position: relative;
  display: inline-block;
  padding: 0.44rem;
  max-width: 1rem;
  border:  solid 0.01rem var(--light-grey) !important;
  box-shadow: var(--box-shadow-buttons-hover);
  -webkit-appearance: none;
  border-radius: 0.3rem;
}
input[type="checkbox"]:checked::after {
  position: absolute;
  top: -0.3rem;
  left: -0.05rem;
  color: var(--light-blue);
  content: '\2714\fe0e';
  font-size: 1.2rem;
  /*! border: none; */
  font-weight: bold;
  text-shadow: 0 0 0.4rem #000, 0 0 0.4rem #000, 0 0 0.4rem #000;
}
input[type="radio"]:checked {
  /*! border: none; */
  background: var(--light-grey);
  /*! box-shadow: var(--box-shadow-buttons-hover); */
  color: var(--light-blue);
  /*! background-color: var(--light-grey); */
  /*! text-shadow: 0 0 0.4rem #000, 0 0 0.4rem #000, 0 0 0.4rem #000; */
}
input[type="radio"] {
  position: relative;
  top: 0.25rem;
  display: inline-block;
  padding: 0.44rem;
  border: solid 0.01rem var(--light-grey);
  border-radius: 0.5rem;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow-buttons-hover);
  -webkit-appearance: none;
}
input[type="radio"]:checked::after {
  position: absolute;
  top: 0.13rem;
  left: 0.13rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.5rem;
  background: var(--light-blue); /* radial-gradient(circle,rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0) 50%);*/
  /*! box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); */
  content: ' ';
  /*! text-shadow: 0 0 0.4rem #000, 0 0 0.4rem #000, 0 0 0.4rem #000; */
  box-shadow: 0 0 0.3rem #000, 0 0 0.3rem #000;
  /*! font-family: Roboto-mono; */
  /*! font-size: 1.03rem; */
}
#tags_type1, #tags_type0 {
  width: 15px;
}
.contribute-button, .submit input, #buttons input, input[type="submit"], input[type="button"], .linkbox .brackets, #newthreadtext .brackets, #load-more-forums, #index .sidebar .pad div a {
  box-shadow: var(--box-shadow-buttons) !important;
  cursor: pointer;
  width: auto !important;
  padding: 0.4rem !important;
  background: var(--background-messages-head) !important;
  border: none !important;
  color: var(--light-grey) !important;
  display: inline-block;
  margin:0.4rem !important;
}
.contribute-button:hover, .submit input:hover, #buttons input:hover, input[type="submit"]:hover, input[type="button"]:hover, .linkbox .brackets:hover, #newthreadtext .brackets:hover, #load-more-forums:hover, #index .sidebar .pad div a:hover  {
  box-shadow: var(--box-shadow-buttons-hover) !important;
}
.linkbox .brackets::before, .linkbox .brackets::after, #newthreadtext .brackets::before, #newthreadtext .brackets::after   {
  display: none;
}
input:focus {
  /*! border: none /\*0.01rem solid #FFFFFF20*\/ !important; */
  outline: 0 !important;
}

/*START SEARCHBOX*/
.submit.ft_submit input {
  box-shadow: var(--box-shadow-buttons);
  cursor: pointer;
  width: auto;
  padding: 0.4rem;
  background: var(--background-messages-head);
}
input#group_results, .layout.cat_list input {
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 1rem;
}
.nobr select, .ft_order select {
  width: auto;
}
td.label {
}
.layout .inputtext {
  margin: 0em;
  /*! width: auto; */
  max-width: 60vw;
}
.filter_torrents .head div {
  position: relative;
  margin: auto;
  /*! right: 50%; */
  top: 100%;
}
.filter_torrents .head div font, .filter_torrents .head div span #ft_toggle {
  background: var(--background-messages-head) !important;
  box-shadow: var(--box-shadow-buttons) !important;
  cursor: pointer;
  font-size: \);
}
/*STOP SEARCHBOX*/
/*END INPUTS*/
/*START HEADER*/
/*Donc l'entete ici, testé à 980 de large c'est ok faut une autre config pour ecran moin large*/
#header {
  width: 80vw;
  margin: 0vw auto 2vw auto;
  box-shadow: var(--box-shadow);
  background: var(--background-radial-white);
}
#logo {
  position: absolute;
  background: url("https://powabanga.github.io/css/hdf/logo.png");
  background-repeat: no-repeat;
  width: 8rem;
  height: 3.7rem;
  left: 50%;
  transform: translate(-50%);
  background-size: contain;
  z-index: 1;
  text-align: center;
  background-position: center;
}
#logo a {
  width: 8rem;
  height: 100%;
  display: block;
  margin: auto;
}
@media (max-width: 1230px) {
  /*#logo {*/
  /*height: 1.8em;*/
  /*width: 5.1em;*/
  /*top: 1.2em;*/
  /*}*/
  #content, #header {
    width: 90vw;
  }
}
/*START MP STAFF*/
.brackets {
  white-space: collapse;
  text-align: center;
}
/*END MP STAFF*/
/*START USERINFO*/
#userinfo {
  padding-bottom: 1em;
}
#userinfo .brackets::before {
  content: "[";
}
#userinfo .brackets::after {
  content: "]";
}
#userinfo_username {
  order: 1;
  position: relative;
  top: -1.2em;
}
#userinfo_username li {
  display: inline-block;
  margin-right: 0.3em;
}
#userinfo_major {
  position: relative;
  top: -1.2em;
  margin-bottom: -1.2em;
}
#userinfo_major li {
  margin-right: 0.4em;
  display: inline-block;
}
#userinfo_stats {
  position: relative;
  order: 4;
  top: -2.5em;
  float: right;
  margin-bottom: -2.5em;
}
ul#userinfo_stats li {
  display: inline-block;
  margin-right: 0.3em;
}
#userinfo_minor {
  position: relative;
  display: flex;
  justify-content: space-around;
  box-shadow: var(--box-shadow-inset);
  padding: 0em 0em;
  margin-top: 0.6em;
}
#userinfo_minor li {
  background: var(--background1);
  opacity: 85%;
}
#userinfo_minor a {
  color: var(--light-grey);
  text-shadow: 0px 0em 0.5em #000;
  padding: 0.5em;
  display: inline-block;
  box-shadow: var(--box-shadow);
  background: var(--background-messages-head);
}
#nav_better {
  display: none;
}
#userinfo_minor a {
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
}
#userinfo_minor a:hover {
  box-shadow: var(--box-shadow-messages-head-revert), var(--box-shadow), var(--box-shadow-buttons-hover);
  border-radius: 0.3rem;

}

/*END USERINFO*/
/*START MENUBAR*/

#menu ul {
  display: flex;
  justify-content: space-around;
  position: relative;
}
#menu ul li {
  flex: 1;
  margin: 0em 0.6em 0em 0.6em;
  white-space: nowrap;  
  background: var(--background1); 

}
#menu ul li a {
  width: 100%;
  display: flex;
  box-shadow: var(--box-shadow-messages-head), var(--box-shadow);
  height: 2em;
  align-items: center;
  justify-content: space-around;
  color: var(--light-grey);
  /*background: radial-gradient(circle,rgba(0, 0, 0, 0.6) 20%, rgba(255, 255, 255, 0) 100%);*/
  text-shadow: 0em 0em 0.7em #000;
  background: var(--background-buttons-menu);
}
#menu ul li a:hover {
  box-shadow: var(--box-shadow-messages-head-revert), var(--box-shadow);
  border-radius: 0.5rem;
  /*background: radial-gradient(circle,rgba(0, 0, 0, 0.6) 20%, rgba(255, 255, 255, 0) 100%);*/
  /*text-shadow: 0.03rem 0.03rem 0.02rem var(--light-grey);*/
}
/*END MENUBAR*/
#searchbars ul li {
  width: 16%;
}

div#searchbars ul {
  display: flex;
  justify-content: space-around;
  width: 90vw;
  /*! margin: 0vw 2vw; */
}
#searchbars {
  width: 90vw;
  margin: auto;
  padding-bottom: 0.6vw;
}
#searchbars input {
  width: 100%;
}
/*END HEADER*/
/*START FOOTER*/
#footer {
  text-align: center;
}
/*END FOOTER*/
/*START NOTIFY AREA*/
#noty_bottomRight_layout_container > li {
  background: var(--background1) !important;
  border: var(--light-grey) !important;
  font-size: var(--font-size-normal) !important;
  color: var(--light-grey) !important;
  box-shadow: var(--box-shadow) !important;
}
.noty_bar div {
  background-color: inherit !important;
  border: 0 !important;
  color: inherit !important;
  font-size: var(--font-size-normal) !important;
}
/*END NOTIFY AREA*/
.box {
  /* font-size: 10pt; */
  font-size: var(--font-size-normal) !important;
}
#index .box.news_post {
  font-size: var(--font-size-normal) !important;
  margin: 0em;
  box-shadow: var(--box-shadow);
}
tr.group_torrent td,
tr.group td,
tr.torrent td {
  font-size: var(--font-size-small);
}

.header, .linkbox, .search_form {
  width: 100%;
}
.head2.head.center {
  box-shadow: var(--box-shadow);
}

.sidebar .box {
  box-shadow: var(--box-shadow);
  margin: 0 0.5rem 1rem 0.5rem;
  white-space: collapse;
}
.sidebar .box:nth-child(3){
  display: none;
}


/*START MAIN PAGE*/
/*body#index div#wrapper diAv#content */
.thin {
  display: flex;
  width: 100% !important;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--background-radial-white);
  /*overflow-x: auto;*/
}
.thin strong {
  width: 99%;
}

.sidebar {
  position: relative;
  width: 19%;
  order: 2;
  /*box-shadow: var(--box-shadow-inset);*/
  /*margin: 1em 1% 1em 0.5%;*/
}

.main_column {
  /* left: 0px; */
  position: relative;
  width: 80%;
  order: 1;
  /*box-shadow: var(--box-shadow-inset);*/
  /*margin: 1em 0.5% 1em 1%;*/
  /*padding: 0.6vw;*/
}

.group_torrent span, .torrent span {
  font-size: var(--font-size-small) !important;
}
body#index div#wrapper div#content br {
  display: none;
}


#content{
  width: 80vw;
  position: relative;
  /*left: 10%;*/
  /*box-shadow: var(--box-shadow);*/
  margin: 0em auto 1em auto;
  box-shadow: var(--box-shadow-buttons), var(--box-shadow)!important;;
  padding: 1rem;
  border-radius: 1rem;
}
#scroll-bottom, #scroll-top {
  border: none;
  background: var(--background1);
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
}
#scroll-buttons{
  right: 4vw;
}
.torrents_container {
  background: unset !important;
  border-radius: unset !important;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons) !important;
}
/*END MAIN PAGE*/
/* Élément | https://hdf.world/torrents.php */
/*Torrents listhe listt*/
tr.torrent_filename_row:nth-child(11) {
  background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
}
.torrent_table tr.group_torrent {
  background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
}

/* ca c'est pour le top 10 uniquement*/
.torrent_table.cats.numbering.border {
  width: 100%;
}
#disclaimer_container { 
  display: block;   
  margin: auto;     
}
.center.cats_col {
  vertical-align: top !important;
}

.group_image img {
  height: 12em;
  width: auto;
}


/*START RULES*/
.box.pad.rule_table {
  background: unset !important;        
  box-shadow: var(--box-shadow);   
  /*border-radius: 0px !important;*/
  color: var(--light-grey) !important;
  margin-bottom: 0px !important;
  padding: 0px !important;
}
.rule_table .colhead > td {
  color: var(--light-grey) !important;
  border-bottom: none !important;
}
#rules .header {
  background: unset !important;
  border: ;
  border-bottom: none !important;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
  border-radius: 0.5rem;
  padding-bottom: 1.4rem !important;
  margin-bottom: 1.8rem !important;
}

#rules .center {
  color: var(--light-grey) !important;
}
.nobr {
  white-space: unset;
}
/*END RULES*/
/*cette section concerne la page IRC*/
.box.pad.irc_container {
  width: 100%;
}
div#app div#viewport div#connect.window {
  background: #222 !important;
}
/*Pages spécifiques au fichiers*/
/*START SETTINGS*/
#userform .sidebar {
  box-shadow: none !important;
  /*! position: sticky; */
  float: right;
}
/*#settings_sections {*/
/*width: 9%;*/
/*}*/
/*END SETTINGS*/
/*SART MAIN PAGE*/
.sidebar img {
  max-width: none !important;
  width: 100%;
}
#index .head {
  box-shadow: var(--box-shadow-messages-head), var(--box-shadow);
  padding: 0.4em;
  margin-bottom: 0.5em;
}
#index .head.colhead_dark {
  margin: 0em;
}
#index .news_post .pad {
  margin-bottom: 0.6em;
  white-space: pre-wrap;
}

#news.news_header {
  padding: 0.5rem;
  background: var(--background-messages-head);
  border: none;
  margin-bottom: 1rem;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
}
#news.news_header a {
  width: 100%;
  display: block ;
  height: 100%;
  padding: 0.5rem;
}#news.news_header {
  /* padding: 0.5rem; */
  padding: 0;
}
#news.news_header:hover {
  box-shadow: var(--box-shadow), var(--box-shadow-buttons-hover);
}
#news.news_header a:hover {
  color: var(--light-grey);
}
#news.news_header a {
  color: var(--light-grey);
}
#artist_information img, .box_request_desc img, .news_post img, .torrent_description img, .wiki_article img {
  max-width: 100%;
}
/*END MAIN PAGE*/
/*START POTFL*/

.alertbar {
  background-color: unset !important;
  box-shadow: var(--box-shadow),var(--box-shadow-buttons);
  color: var(--light-grey) !important;
}

#store .box.pad {
  margin: 10px auto 0 auto;
}
.pot-progress-section {
  color: var(--light-grey) !important;
  background-color: unset !important;
  box-shadow: var(--box-shadow),var(--box-shadow-buttons) !important;
}
.pot-progress-container {
  background-color: unset !important;
  box-shadow: var(--box-shadow),var(--box-shadow-buttons);
}
.pot-progress-bar {
  background: unset;
  box-shadow: var(--box-shadow-inset);
  border: none;
}
.pot-progress-percentage {
  color: var(--light-grey);
  text-shadow: 0rem 0rem 0.3rem #fff;
}
.stat-item {
  background: unset !important;
  box-shadow: var(--box-shadow),var(--box-shadow-buttons);
}
.stat-value {
  color: var(--light-grey) !important;
}
#donateForm {
  background: unset !important;
  box-shadow: var(--box-shadow),var(--box-shadow-buttons) !important;
}
.border tr.colhead td {
  border: unset !important;
  background-color: unset !important;
}
.border tr.rowa td {
  background-color: unset !important;
  border-color: unset !important;
}
.border td, .border th {
  border: unset !important;
}
.border tr.rowb td {
  background-color: unset !important;
  border-color: unset !important;
}
.border tr td:nth-child(3) {
  /*! max-width: 27vw; */
  /*! overflow: scroll; */
  word-break: break-word;
  hyphens: auto;
  /*! overflow-wrap: break-word; */
}
/*END POTFL*/
/*START JETONS*/

.torrent_table tr.group, .torrent_table tr.torrent {
  background: unset !important;
}
/*END JETONS*/
/*START DONATE*/

#donate .section {
  background: none !important;
  border: none;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
}
.green-info {
  background-color: unset !important;
  box-shadow: var(--box-shadow),var(--box-shadow-buttons);
}
.donation-page .text, .donation-page ul {
  color: var(--light-grey) !important;
}
.donation-page .donation-info, .donation-page .tutorial-info {
  background-color: unset !important;
  color: var(--light-grey) !important;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
}
.donation-page .spoiler-toggle, .donation-page .spoiler-toggle:hover {
  background-color: unset !important;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
  color: var(--light-grey) !important;
}
spoiler-content {
  background: unset !important;
  color: var(--light-grey);
  box-shadow: var(--box-shadow-inset) !important;
  max-width: 90% !important;
  margin: auto;
}
.spoiler-content pre {
  background: unset !important;
  border: none !important;
  /*! color: var(--light-grey) !important; */
  font-family: Roboto-mono !important;
}
.crypto-address {
  color: var(--light-grey) !important;
  font-family: Roboto-mono !important;
  font-style: ;
  font-weight:  unset !important;
  white-space:   wrap !important;
  word-wrap:  unset !important;
  overflow:  hidden !important;
}
/*END DONATE*/
/*Start FORUM*/
#forums {
  display: block;
}
.forum_index, .staff{
  box-shadow: var(--box-shadow);
  border-radius: 1rem 1rem 0 0;
}
#forums h2 {
  margin-right: auto;
  width: 100%
}
.forum_list {
  width: 100%;
}
.forum_index {
  width: 100%;
}
#forum .thin {
  display: block;
  width: 100% !important;
}

.avatar img {
  width: 100%;
}
.lu{
  background-image: url("https://powabanga.github.io/css/hdf/icons/category.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.non-lu{
  background-image: url("https://powabanga.github.io/css/hdf/icons/category-new-message.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.read{
  background-image: url("https://powabanga.github.io/css/hdf/icons/forum-new-message.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.unread{
  background-image: url("https://powabanga.github.io/css/hdf/icons/forum.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.unread_sticky{
  background-image: url("https://powabanga.github.io/css/hdf/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.read_sticky{
  background-image: url("https://powabanga.github.io/css/hdf/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.unread_locked_sticky{
  background-image: url("https://powabanga.github.io/css/hdf/icons/info-new-locked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.read_locked_sticky{
  background-image: url("https://powabanga.github.io/css/hdf/icons/info-locked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.read_locked{
  background-image: url("https://powabanga.github.io//css/hdf/icons/topic-locked.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.read{
  background-image: url("https://powabanga.github.io//css/hdf/icons/topic.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.unread{
  background-image: url("https://powabanga.github.io//css/hdf/icons/topic-new.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.forum_post {
  width: 100%;
}

.avatar {
  width: 7.7vw;
  padding: 0.1vw;
}
.avatar .double_avatar {
  width: 7.6vw;
  height: auto;
}

.forum_post {
  width: 100%;
}
form textarea {
  width: 99%;
  margin: 0.5em 0em 0em 0em;
}
.colhead_dark div:first-child > span + a + a:before {
  content: '';
  font-family: Roboto-mono;
  margin-right: 0.2rem;
}
.colhead_dark div:first-child > span + a:before {
  content: '';
  font-family: Roboto-mono;
  margin-right: 0.2rem;
}
.colhead_dark .brackets:nth-child(1):before {
  content: '';
  font-family: Roboto-mono;
  margin-right: 0.2rem;
}
.colhead_dark .brackets:nth-child(2):before {
  content: '󱈸';
  font-family: Roboto-mono;
  margin-right: 0.2rem;
}
.colhead_dark div:last-child > a:last-child {
  display: none ;
}
.colhead_dark div:first-child > span + a:after, .colhead_dark div:first-child > span + a + a:after, .colhead_dark .brackets:nth-child(1):after , .colhead_dark .brackets:nth-child(2):after, .box.news_post .brackets:after, .box.news_post .brackets:before  {
  display: none;
}
.colhead_dark .brackets, .box.news_post .brackets {
  padding: 0.4em;
  font-size: var(--font-size-small);
  background: var(--background-buttons-menu);
  box-shadow: var(--box-shadow-buttons), var(--box-shadow-small);
  border-radius: 0.8rem;
  color: var(--light-grey);
  height: 2.5rem;
}
.colhead_dark .brackets:hover, .box.news_post .brackets:hover {
  box-shadow: var(--box-shadow-buttons-hover);
  /*text-shadow: -0.07rem -0.07rem 0.1rem #00000090, 0.07rem 0.07rem 0.1rem #FFFFFF20;*/
}

.colhead_dark, .colhead {
  background: var(--background-messages-head);
  box-shadow: var(--box-shadow-messages-head);
  /*height: 2rem;*/
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  white-space: nowrap;
  /*! padding: 0.6rem !important; */
}
.colhead td {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  display: revert;
}
.colhead_dark td, .colhead {
  padding: 0.6rem;
}

/*.colhead_dark *{*/
/*margin: 0.5em;*/
/*height: 2em;*/
/*vertical-align: middle;*/
/*padding: 0em 0.03em;*/
/*}*/
h3 {
  /*box-shadow: var(--box-shadow-messages-head);*/
  /*padding: 0.3em 0.6em;*/
  margin: 0.6rem 0rem 0.2rem 0.4rem;
}
.donor_icon.tooltip {
  width: 1.1em;
  height: 0.9em;
}
td.body {
  background: var(--backaground-radial-white) !important;
  word-break: break-word;
}
code {
  box-shadow: var(--box-shadow-inset);
  display: block;
  width: 70vw;
  position: relative;
  margin: 1vw;
  padding: 1em;
  font-family: Roboto-mono;
  white-space: nowrap;
  overflow: auto;
}
blockquote {
  box-shadow: var(--box-shadow-buttons), var(--box-shadow);
  width: 95%;
  margin: 0.8em auto;
  padding: 0.5em;
}
.rowb, .row_b {
  background: ;
  background-color: var(--background-rowa) !important;
}

.rowa, .row_a {
  background-color: var(--background-rowb) !important;
}
/*START EDIT AREA*/
#newthreadtext {
  width: 100%;
}
#forums .box.pad {
  width: 100%;
}
/*breadcrumb c'est la ligne du chemin du topic/forum actuel en bas de page*/
.breadcrumbs {
  margin: 0em auto 0em 0em;
  display: block;
}
table#newthreadtext.layout tbody tr td:nth-child(3) {
  position: absolute;
  right: 1%;
  bottom: 1em;
}
.wysibb-text-editor {
  background: none !important;
}
.wysibb-body {
  color: var(--light-grey) !important;
}
.wysibb {
  background: var(--background1) !important;
  border: none !important;
  box-shadow: var(--box-shadow-inset);
  font-size: 1rem !important;
}
#reply_box {
  width: 70%;
  margin: auto;
}
.wysibb-toolbar {
  background: none !important;
  border: none !important;
}
.wysibb-toolbar {
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
  color: #c2bfbf !important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
  color: var(--light-grey) !important;
  font-size: 1.7em !important;
  text-shadow: none !important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .fonticon {
  /*! color: #333; */
  /*! font-family: 'WysiBBiconFont'; */
  /*! font-size: 18px; */
  line-height: 1.4em;
  /*! text-shadow: 0px 1px 0px #fff; */
  text-align: center;
  /*! speak: none; */

}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on, .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover, .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:active {
  background: none !important;
  border: none !important;
  box-shadow: var(--box-shadow-buttons),  var(--box-shadow) !important;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on, .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover, .wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
  background: var(--background1) !important;
  box-shadow: var(--box-shadow-buttons)  !important;
}
.wysibb .modesw, .wysibb .wbb-list, .wysibb .wbb-fontsize {
  color: var(--light-grey);
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn .wbb-list {
  background-color: var(--background1) !important;
  box-shadow: var(--box-shadow);
  border: none !important;
}

.wbb-select .option:hover {
  background: none !important;
  box-shadow: var(--box-shadow-buttons);
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-tooltip {
  border: none !important;
  box-shadow: var(--box-shadow-buttons);
  color:var(--light-grey);
}
.wbb-list .sc {
  border-color: var(--light-grey) !important ;
}
.wysibb .wysibb-toolbar .wysibb-toolbar-container {
  border-right: var(--light-grey) !important;
}
#wbbmodal .wbbm {
  background: var(--background1);
  border: none;
  box-shadow: var(--box-shadow), var(--box-shadow-buttons);
}
#wbbmodal {
  font: var(--font-size-normal) 'Roboto', 'Trebuchet MS', "Arial", sans-serif !important;
}
.preview_button:hover {
  background-color: unset;
}
.button_preview_0, #submit_button {
  background: var(--background-messages-head);
  border: none;
  color: var(--light-grey);
  box-shadow: var(--box-shadow-buttons);
  margin: 0em 0.3em 1em 0.3em;
  padding: 0.4em;
  cursor: pointer;
}
.button_preview_0:hover, #submit_button:hover {
  box-shadow: var(--box-shadow-messages-head);
}
#reply_box h3 div span {
  color: var(--light-grey) !important;
  font-size: var(--font-size-normal) !important;
  font-family:  var(--font-family-principal) !important;
}
.smiley-button.modern {
  background: var(--background-messages-head) !important;
  box-shadow: var(--box-shadow-buttons) !important;
  border: none !important;
  font-size: var(--font-size-small) !important;
  font-family: var(--font-family-principal) !important;
}
/*END EDIT AREA*/
/*END FORUM*/
/*START INBOX*/
#inbox .thin {
  display: block;
}
#inbox .head {
  box-shadow: var(--box-shadow-messages-head);
  padding: 0.3em;
}
/*STOP INBOX*/
/*START SHOUT*/
.shoutbox_alt{
  background: var(--background-rowa) !important;
}
.shoutbox_noalt{
  background: var(--background-rowb) !important;
}
/*END SHOUT*/
/*START REQUESTS*/

#request_form > div {
  background-color:   unset !important;
  box-shadow: var(--box-shadow) !important;
  color: var(--light-grey) !important;
  font-family: 'Roboto', 'Trebuchet MS', "Arial", sans-serif !important;
  margin: 0 auto 3rem auto !important;
  position: relative;
  display: block;
  width: 80vw;
  text-align: center;
}
#request_form > div ul {
  text-align: left;
  width: fit-content;
  margin: auto;
}
#request_form > div > div:nth-child(1), #request_form > div > div:nth-child(4), #request_form > div > div:nth-child(3) > div {
  background: unset !important;
  box-shadow: var(--box-shadow),var(--box-shadow-buttons);
  width: fit-content;
  margin: auto;
  text-align: left;
}
#requests .layout {
  margin: auto;
}

.layout.filter_table td {
  display: ruby-base;
}
#search_tags {
  width: auto;
}
.filter_table td {
  vertical-align: top;
}
.filter_table tr:last-child td div {
  /*! background: wheat; */
  display: block;
  margin-bottom: 0.6rem;
}
.filter_table tr {
  width: 100%;
  display: inline-block;
}
#request_table, .torrent_table.cats.numbering.border {
  overflow: auto;
  display: block;
  width: 90vw;
}
#search_terms input, .search_form input {
  max-width: 50vw;
}
.label {
  text-align: right;
  padding-right: 1rem;
}
.search_form .layout {
  margin: auto;
  width: fit-content;
  margin: auto;
  display: block;
  text-align: center;
}
.search_form .layout tr {
  width: auto;
}
#include_filled td:last-child, #include_old td:last-child {
  text-align: left;
}
/*STOP REQUESTS*/
/*START COLLECTIONS*/
.search_form #categories td div {
  display: inline-flex;
  width: 100%;
}

#collage #categories div {
  color: var(--light-grey) !important;
  background-color:  unset !important;
  border: none !important;
  max-height: unset !important;
  overflow-y: unset !important;
  display:   unset !important;
}
#categories div div {
  display: inline-block;
}
.collage_table {
  display: block;
  overflow-x: auto;
}
/* STOP COLLECTIONS*/
/*START RESULT PAGE*/
.widethin {
  justify-content: space-around;
}
.search_form .filter_torrents .head div {
  display: block !important;
  margin: 0rem 1rem 0rem 1rem;
}
.lightbox {
  text-align: center;
  position: fixed;
  top: 10%;
  left: 0%;
  overflow: auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
.lightbox img {
  max-height: 90vh;
  max-width: 90vw;
  box-shadow: var(--box-shadow);
}
.edition_info {
  background: var(--background-rowb);
  padding: 0.2em 0em;
}
.group_torrent td span {
  position: initial;
  display:    inline-table !important;
  margin-top: unset !important;
  padding-top: unset !important;
}
#torrent_table .nobr, #torrent_table .number_column, .group_torrent td + td {
  vertical-align: middle;
  text-align: center;
}
.torrent_filename_row td {
  word-wrap: anywhere;
}
.number_column.nobr {
  max-width: 7vw;
}
.layout.cat_list td {
  display: inline-block;
  margin: auto;
}
#ft_container td {
  max-width: 65vw;
}
table.layout td:last-child {
  text-align: left;
}
/*END RESULT PAGE*/
/*START FILE DESCRIPTION*/
#torrent_details {
  width: 100%;
}
#collage #categories div > div {
  display:  ruby !important;
  margin-left: 0.4rem;
}
/*END FILE DESCRIPTION*/
/*START STAFF PAGE*/
#staff .thin {
  width: 80% !important;
  margin: auto;
  text-align: left;
  display: block;
}
#staff .nobr {
  white-space: normal;
}
/*END STAFF PAGE*/
/*#FIXME #lightbox a mettre en stycki car s'affiche en bas de page*/

@media (max-width: 1040px) {
  .colhead_dark .time {
    /*! bottom: 100%; */
    /*! right: 0; */
    /*! background: var(--background-buttons-menu); */
    /*! box-shadow: var(--box-shadow-buttons); */
    /*! padding: 0.3rem; */
    /*! border-radius: 0 0 0.6rem 0.6rem; */
    /*! height: fit-content; */
    /*! top: 2.2rem; */
  }
  .forum_post .colhead_dark .time {
    /*! display: inline-block; */
    /*! position: absolute; */
  }
  .forum_post {
    position: relative;
  }
  .forum_post td.body div {
    margin-top: 1.8rem;
  }
  .forum_post tr:last-child td:last-child {
    max-width: 80%;
    padding-right: 0rem;
    padding-bottom: 2rem;
  }
}

@media (max-width: 1230px) {
  #content, #header {
    width: 90vw;
  }
}
@media (max-width: 1024px) {
  /* #content { */
  #content, #header {
    /* width: 98vvw !important; */
    width: 99vw;
  }

  .big_info div {
    white-space: ;
    display: table-row;
  }
  /* arkada.css | https://powabanga.github.io/css/hdf/arkada.css */

  .sidebar {
    /* width: 19%; */
    /* order: 2; */
    width: 100%;
    order: 1;
    /*box-shadow: var(--box-shadow-inset);*/
    margin: 1em 1% 1em 0.5%;
    display: flex;
    flex-wrap: wrap;
    max-width: ;
    justify-content: space-between;
    align-items: stretch;
  }

  .main_column {
    /* width: 80%; */
    /* order: 1; */
    width: 100%;
    order: 2;
  }

  .sidebar .box {
    flex-shrink: 3;
    /*height: min-content;*/
    width: 23.2%;
    order: unset;
    flex: 1 1 auto;
  }

  .sidebar img {
    /* max-width: none !important; */
    /* width: 100%; */
    max-width: 20vw !important;
    display: ;
  }

  .colhead_dark, .colhead {
    /* height: 2rem; */
    /* box-shadow: var(--box-shadow-messages-head); */
    /* white-space: nowrap; */
    white-space: normal;
  }

  /* Inline | https://hdf.world/index.php */

  .sidebar .box img {
    max-width: 20%;
  }

  /* .sidebar .box .center.pad img { */
  .sidebar .box:nth-child(1), .sidebar .box:nth-child(2) {
    /* max-width: 20%; */
  }

}
@media (max-width: 600px){
  /* START MENU*/
  #logo{
    width: 74vw;
    z-index: 2;
  }

  #userinfo {
    width: 3.4rem;
    height: min-content;
    min-width: 2rem;
    min-height: 2rem;
    width:3.4rem;
    display: unset;
    box-shadow: unset;
    margin-top: unset;
  }
  #userinfo::before{
    content: '';
    box-shadow: var(--box-shadow-buttons), var(--box-shadow);
    padding: 0.3rem 1rem;
    display: block;
    width: inherit;
    font-family: Roboto-mono;
    font-size: 2rem; 
    margin: 0rem 0rem 1rem 0rem;
    top: 0.4rem;
    position: relative;
    left: 0.4rem;
    border-radius: 1rem 0 1rem 0rem;
    background-image: var(--background-buttons-menu);
  }
  #userinfo::before:hover{
    box-shadow: var(--box-shadow-buttons-hover) ;
  }
  #userinfo > br {
    display: none;
  }
  #userinfo_username {
    position: absolute;
    z-index: 2 !important;
  }

  #userinfo_major {
    position: absolute;
  }

  #userinfo_stats {
    margin-bottom: unset;
    top: -1.2rem;
    margin-bottom: unset;
    position: absolute;
  }
  #userinfo_stats li {
    top: 3.3rem;
  }
  #userinfo_minor li {
    opacity: unset;
    background: ;
    top: 3rem;
  }
  #userinfo li {
    background: var(--background1);
    z-index: 1;
    position: relative;
  }
  #userinfo ul {
    position:absolute;
    z-index: 1;
    display: none;
  }
  #userinfo:hover ul{
    display: inline-block;
    width: 25vw;
    margin-bottom: 0.6rem;
  }
  #userinfo ul li{
    display: block;
  }
  #userinfo li {
    padding: 1rem 0;
    background-image: var(--background-buttons-menu);
    box-shadow: var(--box-shadow), var(--box-shadow-buttons);
    top: 9.4rem;
    width: 90vw;
    margin: 0.3rem 5vw;
    border-radius: 0.7rem;
    background-color: var(--background1);
    text-align: center;
  }
  #userinfo ul > li, #userinfo br {
    display: none;
  }
  #userinfo ul:hover li {
    display: block;
  }
  #userinfo_username ul::before {
    display: static;
  }
  #userinfo ul::before {
    font-size:2rem;
    font-size: 2rem;
    font-family: Roboto-mono;
    box-shadow: var(--box-shadow), var(--box-shadow-buttons);
    padding: 0.5rem 1rem;
    display: block;     
    width: 23vw;                    
    position: absolute;
    top: 5.4rem;                    
    text-align: center;             
    margin: 0 1vw; 
    background: var(--background-buttons-menu);
    background-color: var(--background1);
    border-radius: 2rem;
  }
  #userinfo_username:before {
    content: '';
  }
  #userinfo_major:before {
    content: '󰄔';        
    left: 25vw;
  }
  #userinfo_minor::before {
    content: '󰭘';
    left: 75vw;  
  }
  #userinfo_stats::before {
    content: '󰴦';
    left: 50vw;
  }

  #userinfo_minor {
    box-shadow: unset;
    margin-top: 0;
    top: -1.2rem;
  }
  #menu:before {
    content: '';
    right: 1.6vw;
    position: absolute;
    top: 0.4rem;
    font-family: Roboto-mono;
    font-size: 2.4rem;
    box-shadow: var(--box-shadow),var(--box-shadow-buttons);
    padding: 0rem 1rem 0rem 0.8rem;
    border-radius: 0rem 1rem 0rem 1rem;
    background: var(--background-buttons-menu);
  }
  #menu ul {
    display: none;
  }
  #menu:hover ul {
    display: block;
  }
  #menu:hover::before {
    box-shadow: var(--box-shadow-buttons-hover);
  }
  #menu ul li a {
    box-shadow: var(--box-shadow-buttons),var(--box-shadow);
    border-radius: 1rem;
    margin: 0.5rem 2vw 0rem 2vw;
    background-color: var(--background1);
    width: 90vw;
    padding: 2rem;
  }
  #menu ul {
    position: absolute;
    z-index: 2;
  }
  #userinfo:hover::before {
    box-shadow: var(--box-shadow-buttons-hover);
  }
  #userinfo ul:hover::before {
    box-shadow: var(--box-shadow-buttons-hover);
  }
  #userinfo li:hover {
    box-shadow: var(--box-shadow-buttons-hover);
  }
  /*END MENU*/
  /*START RESuLT PAGE*/
  #torrent_table tr.group td.nobr:nth-child(4), #torrent_table tr.group_torrent td.nobr:nth-child(3) {
    min-width: 1.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 2rem;
  }
  tr.colhead td {
    overflow: hidden;
    white-space: nowrap;
    max-width: 1rem;
    text-overflow: ellipsis;
  }
  /*END RESULT PAGE*/
  /*STAR SETTINGS*/
  
.sidebar.settings_sidebar {
  width: 90vw;
  position: relative;
  display: block;
  float: unset !important;
}
#settings_sections {
  position: relative;
  width: 100%;
  margin:auto;
}
#settings_sections.fixed {
  position: relative;
}

#user .colhead_dark ~ tr td {
  display: block;
}
#user .colhead_dark ~ tr > td {
  width: 90vw;
}
  /*END SETTINGS*/
}
